TOKEN_CRYPT_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=supersecretkey

user_ACCESS_TOKEN = 'EAARgjpmNRTABO3YZCxIAGwNnjNt8uFOfcDLjl1TtiIXNYT9gZAuM3E8ig8QboIUPrsRVarxPZB8zKGBTWtz9cZCj4JOOzLZCwaI9OulejXU8mWyR4VY77Dlaw18VynJ7BtZBNZCMmj42wvZCUvJyd99VJuTtDpyJTObIbOfPNVSKSc6aputVfV04ULpOcXZCHEX25QWj4ohcMxYl8Ee2P5XPwLpgQQZB5PinMcEtZByjQ5tfQZDZD'
instagram_business_account_id=17841461016180120

ACCESS_TOKEN ='EAARgjpmNRTABO8QxTUewQm3EWDhMTzZChQZBZAnBny99mFx1sBL1Bua9wfb9GR6TWvZAeChItj2ZAlScYEAK5mJTQZCQo9ZCz8xcJ6VZA8ZCBZAxX3WOtIgprPVepwRJWEVk1G7GJxKp5KMr3n7hBLPPMj2uKryEDuJ9pBPRrlYWDpxcPlUCbGLjNUobVn0TBs1AZDZD'

# ACCESS_TOKEN ='EAARgjpmNRTABO8QxTUewQm3EWDhMTzZChQZBZAnBny99mFx1sBL1Bua9wfb9GR6TWvZAeChItj2ZAlScYEAK5mJTQZCQo9ZCz8xcJ6VZA8ZCBZAxX3WOtIgprPVepwRJWEVk1G7GJxKp5KMr3n7hBLPPMj2uKryEDuJ9pBPRrlYWDpxcPlUCbGLjNUobVn0TBs1AZDZD'
SUPABASE_URL="https://akwemefewfmzxegreesl.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIreUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrd2VtZWZld2ZtenhlZ2lkZXNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE4MzIzNjksImV4cCI6MjA2NzQwODM2OX0.AAAWAfN0K4L9XMDhpPUqHBPLRHeAXZBAMdcj0-vqEgU"
SUPABASE_POOL_SIZE=10
SECRET_KEY="supersecretkey"
TOKEN_CRYPT_KEY="32_byte_hex_or_base64_key_here"
REDIS_URL="redis://localhost:6379/0"